.chef {
    background-color: $bg-color;
    padding: 100px 0;
    &__images {
        width: 100%;
        max-width: 398px;
        border-radius: 398px;
    }
    &__heading {
        font-size: $title-font;
        font-weight: 600;
        margin: 30px 0;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__text {
        font-size: $base-font;
        font-weight: $small-weight;
        line-height: 137.3%;
        margin: 0 auto;
        max-width: 925px;
    }
}

@media screen and (max-width: 1024px) {
    .chef {
        padding: 80px 0;
        &__images {
            max-width: 282px;
        }
        &__heading {
            font-size: 35px;
        }
        &__text {
            font-size: 1.375rem;
            max-width: 691px;
        }
    }
}

@media screen and (max-width: 768px) {
    .chef {
        padding: 70px 0;
        &__images {
            max-width: 251px;
        }
        &__heading {
            font-size: $base-font;
            margin: 20px 0;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__text {
            font-size: 1.25rem;
            max-width: 626px;
        }
    }
}