.footer {
    padding: 100px 0;
    background-color: #262626;
    &__title {
        font-size: 4.0625rem;
        color: $text-color;
    }
    &__text {
        font-size: $subtitle-font;
        font-weight: $small-weight;
        color: #B1B1B1;
        margin: 60px 0;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 80px 0 78px;
        &__title {
            font-size: 3.125rem;
        }
        &__text {
            font-size: 1.25rem;
            margin: 50px 0 47px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 70px 0 65px;
        &__title {
            font-size: $title-font;
        }
        &__text {
            font-size: $small-font;
            margin: 40px 0 35px;
        }
    }
}